.LottoBall {
    background: tomato;
    border-radius: 50%; /* circle */
    color: white;
    display: inline-block; /* in a row */
    width: 3em;
    height: 2.25em;
    padding-top: 0.75em;
    text-align: center;
    margin-right: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
}